services:
    -
        class: voku\AgentMap\PhpStan\Collector\ClassLikeCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\ClassMethodCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\FunctionCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\MethodCallCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\NullsafeMethodCallCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\StaticCallCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\FunctionCallCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\InstantiationCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\PropertyDeclarationCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\PropertyFetchCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\NullsafePropertyFetchCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\StaticPropertyFetchCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\AssignCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\AssignOpCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\AssignRefCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\ForeachCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\CatchCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\ReturnCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\Collector\ThrowCollector
        tags:
            - phpstan.collector
    -
        class: voku\AgentMap\PhpStan\CollectedMapExportRule
        tags:
            - phpstan.rules.rule

